{% extends 'base.html' %}
{% load static %}

{% block content %}

</br>
<div class="col-md-6 col-md-offset-2">
    <div class="card mb-6">
        <img src="{% static 'img/about-us' %}" class="card-img-top" alt="...">
        <div classs="card-body">
            <h5 class="card-title">This is who we are</h5>
            <p class="card-text"> Sam Banks is a tech savy, a writer, motivational speaker and team player. Started his career as IT support at National Space and Research Agency, currently run a small business as an entreprenuer.</p>
        </div>
    </div>
</div>


{% endblock content %}